<div layout="vertical" layout-align="center center" layout-fill flex>
        <h1>Softa</h1>
        <form layout="horizontal" layout-align="center center">
                <md-text-float label="Board name" type="text" ng-model="main.name"></md-text-float>
                <md-button type="submit" noink class="md-primary board-go-button"
                           ng-click="main.createBoard()"
                           ng-disabled="main.name === ''">
                        Go!
                </md-button>
        </form>
</div>

