<md-toolbar>
    <div layout="horizontal">
        <h2 class="md-toolbar-tools">
            <span>{{board.board.name}}</span>
        </h2>
        <div layout="horizontal" layout-align="end center">
            <md-button class="md-raised" ng-click="board.addTask($event)">Add task</md-button>
        </div>
    </div>
</md-toolbar>
<div layout="horizontal" layout-fill flex>
    <div layout="vertical" ng-repeat="column in board.board.columns" flex ui-on-drop="board.onDrop($data, column)" style="text-align: center; border-right: 1px solid black;">
        <h3>{{column.name}}</h3>
        <div style="border-top: 1px solid black;" layout-fill flex>
            <div ng-if="$index === 1 && !column.tasks" pong style="height: 500px; position: absolute;" flex>

                <div id="player" style="height: 100px; width: 100px; background-color: black; position: absolute;"></div>
                <div id="ball" style="height: 100px; width: 100px; background-color: black; position: absolute;"></div>
                <span id="score" style="height: 100px; width: 100px; position: absolute;"></span>

            </div>
            <md-card ng-repeat="task in column.tasks" ui-draggable="true" drag="task" on-drop-success="board.removeTask(task, column)" ng-click="board.openTask(task)">
                <div layout="vertical" layout-fill flex>
                    <div layout="horizontal" flex layout-align="start center">
                        <div layout-align="start">
                            <strong>
                                <span style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{task.title}}</span>
                            </strong>
                        </div>
                        <div layout="horizontal" layout-align="end end" layout-fill>
                            <md-button ng-click="board.removeTask(task, column)">DEL</md-button>
                        </div>
                    </div>
                    <div layout="vertical" layout-align="start start">
                        <span style="text-overflow: ellipsis; max-height: 92px; overflow: hidden; text-align: left;">
                            {{task.description}}
                        </span>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>
